Repository blinklabs-io/tx-submit-api, changes with the owners that CODEOWNERS names for each.
All owners: @blinklabs-io/core, @blinklabs-io/pms, @blinklabs-io/frontend

feat: tls support
  cmd/tx-submit-api/main.go
  internal/api/api.go
  internal/config/config.go
Owners: @blinklabs-io/core

feat: tls support (#244)
  cmd/tx-submit-api/main.go
  internal/api/api.go
  internal/config/config.go
Owners: @blinklabs-io/core

feat: configure cors on api and metrics routers
  go.mod
  go.sum
  internal/api/api.go
Owners: @blinklabs-io/core

feat: configure cors on api and metrics routers (#248)
  go.mod
  go.sum
  internal/api/api.go
Owners: @blinklabs-io/core

docs(swagger): remove scheme from label and regen
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  internal/api/api.go
Owners: @blinklabs-io/core

docs(swagger): remove scheme from label and regen (#249)
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  internal/api/api.go
Owners: @blinklabs-io/core

fix: initialize custom metrics
  internal/api/api.go
Owners: @blinklabs-io/core

fix: initialize custom metrics (#250)
  internal/api/api.go
Owners: @blinklabs-io/core

fix: cors for htmx
  internal/api/api.go
Owners: @blinklabs-io/core

fix: cors for htmx (#252)
  internal/api/api.go
Owners: @blinklabs-io/core

fix: port 8081 should work on remote hosts
  internal/api/static/index.html
Owners: @blinklabs-io/core, @blinklabs-io/frontend

feat: adding gui to tx-submit-api
  internal/api/static/index.html
Owners: @blinklabs-io/core, @blinklabs-io/frontend

feat: expose metrics at /metrics on api port
  internal/api/api.go
Owners: @blinklabs-io/core

feat: expose metrics at /metrics on api port (#254)
  internal/api/api.go
Owners: @blinklabs-io/core

feat: adding gui to tx-submit-api (#251)
  internal/api/static/index.html
Owners: @blinklabs-io/core, @blinklabs-io/frontend

fix: use /metrics on the main router
  internal/api/static/index.html
Owners: @blinklabs-io/core, @blinklabs-io/frontend

fix: use /metrics on the main router (#255)
  internal/api/static/index.html
Owners: @blinklabs-io/core, @blinklabs-io/frontend

chore(deps): update blinklabs-io/gouroboros to v0.101.0
  go.mod
  go.sum
  internal/config/config.go
  submit/tx.go
Owners: @blinklabs-io/core

chore(deps): update blinklabs-io/gouroboros to v0.101.0 (#258)
  go.mod
  go.sum
  internal/config/config.go
  submit/tx.go
Owners: @blinklabs-io/core

ci: update to minimum go 1.22
  go.mod
Owners: @blinklabs-io/core

ci: update to minimum go 1.22 (#260)
  go.mod
Owners: @blinklabs-io/core

fix: cpu value is now a percentage
  internal/api/static/index.html
Owners: @blinklabs-io/core, @blinklabs-io/frontend

fix: cpu value is now a percentage (#264)
  internal/api/static/index.html
Owners: @blinklabs-io/core, @blinklabs-io/frontend

fix: ui path to fetch metrics endpoint
  internal/api/static/index.html
Owners: @blinklabs-io/core, @blinklabs-io/frontend

fix: ui path to fetch metrics endpoint (#269)
  internal/api/static/index.html
Owners: @blinklabs-io/core, @blinklabs-io/frontend

fix: scaling for transaction metrics
  internal/api/static/index.html
Owners: @blinklabs-io/core, @blinklabs-io/frontend

fix: scaling for transaction metrics (#273)
  internal/api/static/index.html
Owners: @blinklabs-io/core, @blinklabs-io/frontend

docs: screenshot and logo
  .github/assets/tx-submit-api-20241120.png
  .github/assets/tx-submit-api-logo.png
  README.md
Owners: @blinklabs-io/core, @blinklabs-io/pms

docs: screenshot and logo (#274)
  .github/assets/tx-submit-api-20241120.png
  .github/assets/tx-submit-api-logo.png
  README.md
Owners: @blinklabs-io/core, @blinklabs-io/pms

docs: resize logo
  README.md
Owners: @blinklabs-io/core, @blinklabs-io/pms

docs: resize logo (#275)
  README.md
Owners: @blinklabs-io/core, @blinklabs-io/pms

ci: use go 1.22
  .github/workflows/go-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/publish.yml
Owners: @blinklabs-io/core

ci: use go 1.22 (#278)
  .github/workflows/go-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/publish.yml
Owners: @blinklabs-io/core

ci: attestations for binaries and images
  .github/workflows/ci-docker.yml
  .github/workflows/publish.yml
Owners: @blinklabs-io/core

ci: attestations for binaries and images (#279)
  .github/workflows/ci-docker.yml
  .github/workflows/publish.yml
Owners: @blinklabs-io/core

build: add gofmt to format make target
  Makefile
  internal/api/api.go
Owners: @blinklabs-io/core

build: add gofmt to format make target (#282)
  Makefile
  internal/api/api.go
Owners: @blinklabs-io/core

chore: bump gouroboros
  go.mod
  go.sum
Owners: @blinklabs-io/core

chore: bump gouroboros (#288)
  go.mod
  go.sum
Owners: @blinklabs-io/core

build: use go 1.22.11
  go.mod
Owners: @blinklabs-io/core

CODEOWNERS:

# Blink Labs
#
* @blinklabs-io/core
*.md @blinklabs-io/core @blinklabs-io/pms
internal/api/static/* @blinklabs-io/core @blinklabs-io/frontend
LICENSE @blinklabs-io/core @blinklabs-io/pms
